<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myblog.dao.ArticleMapper" >
  <resultMap id="BaseResultMap" type="com.myblog.entity.Article" >
    <id column="article_id" property="articleId" jdbcType="INTEGER" />
    <result column="article_content" property="articleContent" jdbcType="VARCHAR" />
    <result column="article_writer" property="articleWriter" jdbcType="VARCHAR" />
    <result column="article_create_at" property="articleCreateAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    article_id, article_content, article_writer, article_create_at
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from article
    where article_id = #{articleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from article
    where article_id = #{articleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myblog.entity.Article" >
    insert into article (article_id, article_content, article_writer, 
      article_create_at)
    values (#{articleId,jdbcType=INTEGER}, #{articleContent,jdbcType=VARCHAR}, #{articleWriter,jdbcType=VARCHAR}, 
      #{articleCreateAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.myblog.entity.Article" >
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="articleContent != null" >
        article_content,
      </if>
      <if test="articleWriter != null" >
        article_writer,
      </if>
      <if test="articleCreateAt != null" >
        article_create_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="articleId != null" >
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="articleContent != null" >
        #{articleContent,jdbcType=VARCHAR},
      </if>
      <if test="articleWriter != null" >
        #{articleWriter,jdbcType=VARCHAR},
      </if>
      <if test="articleCreateAt != null" >
        #{articleCreateAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myblog.entity.Article" >
    update article
    <set >
      <if test="articleContent != null" >
        article_content = #{articleContent,jdbcType=VARCHAR},
      </if>
      <if test="articleWriter != null" >
        article_writer = #{articleWriter,jdbcType=VARCHAR},
      </if>
      <if test="articleCreateAt != null" >
        article_create_at = #{articleCreateAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myblog.entity.Article" >
    update article
    set article_content = #{articleContent,jdbcType=VARCHAR},
      article_writer = #{articleWriter,jdbcType=VARCHAR},
      article_create_at = #{articleCreateAt,jdbcType=TIMESTAMP}
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>
</mapper>